<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">Movie Information</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Title:</strong> {{ movie_data.Title }}</li>
                    <li class="list-group-item"><strong>Year:</strong> {{ movie_data.Year }}</li>
                    <li class="list-group-item"><strong>IMDb Rating:</strong> {{ movie_data.imdbRating }}</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
